---
layout: default
title: Tags
permalink: /tags/
---
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- begin page-section -->
<section class="page-section">

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}

  <div class="tag-page is-hidden" id="{{ this_word | cgi_escape }}">

    <div class="container">
      <div class="row">
        <div class="col col-12">
          <h1 class="page-section__title">{{ this_word }} <span class="page-section__counter">{{ site.tags[this_word].size }}</span></h1>
        </div>
      </div>
    </div>

    {% assign post_counter = site.post_counter | default: 1 %}
    {% for post in site.tags[this_word] %}
      {% if post.title != null %}
        {% include article.html %}
        {% assign post_counter = post_counter | plus: 1 %}
      {% endif %}
    {% endfor %}

  </div>

  {% endunless %}
{% endfor %}

</section>
<!-- end page-section -->

{% include section-gallery.html %}

<script>
  var tag_name = window.location.search.replace("?tag=", "#");
  if (tag_name) {
      var el = document.querySelector(tag_name);
      el.classList.remove("is-hidden");
    }
</script>