---
layout: default
---

<!-- begin post -->
<div class="container">

  <div class="post-head">
    <div class="post-meta">
      <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>
      <h1 class="post-title">{{ page.title | escape }}</h1>
      {% if page.description %}
        <p class="post-description">{{ page.description }}</p>
      {% endif %}
    </div>

    {% if page.tags.size >= 1 %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tags/?tag={{ tag | url_encode }}" class="post__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {%if page.image %}
    <div class="post-image">
      <img class="lazy" data-src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}">
    </div>
  {%endif %}

  <article class="post">

    <div class="post__content">
      {{ content }}
    </div>

    <div class="post__share">
      <ul class="share__list list-reset">
        <li class="share__item">
          <a class="share__link share__twitter"
            href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" rel="nofollow"><i class="fa-brands fa-x-twitter"></i><span class="share-name">Twitter</span></a>
        </li>
        <li class="share__item">
          <a class="share__link share__facebook"
            href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" rel="nofollow"><i class="fa-brands fa-facebook-f"></i><span class="share-name">Facebook</span></a>
        </li>
        <li class="share__item">
          <a class="share__link share__pinterest"
            href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Pinterest" rel="nofollow"><i class="fa-brands fa-pinterest"></i><span class="share-name">Pinterest</span></a>
        </li>
        <li class="share__item">
          <a class="share__link share__linkedin"
            href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn" rel="nofollow"><i class="fa-brands fa-linkedin-in"></i><span
              class="share-name">Linkedin</span></a>
        </li>
      </ul>
    </div>

  </article>

  <div class="post-author">
    <div class="post-author__info">
      {% if site.data.settings.author.author_avatar %}
        <a href="{{ site.baseurl }}/about/" class="post-author__avatar">
          <img class="lazy" data-src="{{ site.data.settings.author.author_avatar }}" alt="{{ site.data.settings.author.author_name }}">
        </a>
      {% endif %}
      <div class="post-author__meta">
        {% if site.data.settings.author.author_name %}
          <a href="{{ site.baseurl }}/about/" class="post-author__link">{{ site.data.settings.author.author_name }}</a>
        {% endif %}
        {% if site.data.settings.author.author_role %}
          <span class="post-author__role">{{ site.data.settings.author.author_role }}</span>
        {% endif %}
      </div>
    </div>
    {% if site.data.settings.author.author_description %}
      <p class="post-author__description">{{ site.data.settings.author.author_description }}</p>
    {% endif %}
  </div>

  {% if site.data.settings.disqus_identifier %}
    {% include disqus-comments.html %}
  {% endif %}

</div>
<!-- end post -->

{% include related-posts.html %}

{% include section-gallery.html %}